/*CONENEDORES*/
body {
	background-color: #171719;
	color: #F2F2F2;
	font-family: sans-serif;
	font-size: 15px;
	margin: 0;
	margin-bottom: 15px;
}

#wrapper {
	background-color: #2D2B2C;
	margin: 0 auto;
	padding: 0;
	width: 70%;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
	margin-top: 30px;
}

#content {
	padding: 20px 15px;
}

/*HEADER*/
#header span{
	font-size: 3em;
	font-family: serif;
	font-weight: 150;
	letter-spacing: 15px;
	margin: 34px 0px 5px 10px;
	display: block;
	color: #FCFCFC;
}

#logo {
	width: 140px;
	height: 120px;
	float: left;
}

#header {
	overflow: hidden;
	background-image: url("../images/cover.jpg");
	background-size: cover;
}

/*NAVEGACION*/
#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #E84067;
	overflow: hidden;
}

#nav li {
	color: #FCFCFC;
	float: left;
	display: block;
	padding: 15px 48px;
	background-color: #E84067;
	letter-spacing: 1px;
	font-weight: lighter;
}

/*#nav li:last-child {
	padding-right: 77px;
}*/

#nav li:hover {
	background-color:  #2D2B2C;
	cursor: pointer;
}

#nav .active {
	background-color:  #2D2B2C;
}

/*NOTICIAS*/
.newphoto {
	width: 25%;
	float: left;
	display: inline;
	margin-right: 20px;
}

.post {
	overflow: hidden;
	text-align: justify;
	margin-bottom: 20px;
	padding: 0px 25px;
}

.post h2{
	margin-bottom: 0;
	margin-top: 5px;
}

.date {
	font-size: 10px;
	margin-bottom: 15px;
	color: #D8DBD2;
}

#content-noticias hr {
	border-color: rgba(23,23,25,.9);
	border-width: thin;
}

/*ELEMENTOS*/
hr {
	border-color: rgba(232,64,103,.5);
	margin-bottom: 0;
}
a {
	color: #E84067;
}
.no-destacar {
	color: #D8DBD2;
}


/*MUSICA*/
.album {
	overflow: hidden;
}

.album h2 {
	margin-bottom: 0;
	margin-top: 20px;
}

.album > img {
	width: 25%;
	height: 25%;
	float: left;
	margin: 20px;
}

.song {
	text-decoration: underline;
	cursor: pointer;
}

.song:hover {
	color: #D8DBD2;
}

#content-musica hr {
	border-color: rgba(23,23,25,.3);
	border-width: thin;
}

#content-musica table {
	width: 70%;
}

#songs-container {
	display: inline;
}


/*FOOTER*/
#footer {
	padding: 20px;
	font-size: 10px;
}

/* Playlist */

.glyphicon {
	color: #2D2B2C;
	margin-right: 4px;
	cursor: pointer;
}

.badge {
	margin-bottom: 10px;
}

#skipSong {
	/*margin-bottom: 7px;*/
}

#playlist-box {
	background-color: #D8DBE2;

	position: fixed;
	bottom: 0;

	padding: 4px 8px 0px 8px;
	margin-left: 64%;

	border-radius: 10px 10px 0px 0px;
}

#playlist-hidden {
	color: #2D2B2C;
	float: none;
}

#playlist-hidden table {
	width: 90%;
}

#playlist-hidden table tr:first-child {
	font-weight: bold;
}

audio {
	background-color: #D8DBE2;
	margin: 0;
	padding: 0;
	width: 240px;
}

.pager {
	margin: 0;
	padding: 0;
}

.pager li a, .pager li a:focus {
	background-color: #2D2B2C;
	color: #F2F2F2;
}

.pager li a:hover {
	background-color: #E84067;
}
